*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

.sconsign.dblite
*.uvproj
*.uvopt
*.uvgui.*
*.dep

[Dd]ebug/
[Oo]utput/
[Ll]ist/
[Ss]ettings/
*.dep
*.bin
*.map
*.axf
*.pyc
*.bin
*.o
*.lst
*.obj
*.hex

*.hex
*.uvopt
*.uvproj
